body{
    /*background-color: rgb(27, 31, 101);*/
    background-image: url("Space Background.PNG"); 
    /*edit background from ibisPaint*/

    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.text{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 40%;
    font-size: 30px;
    
}

#start_font{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 50%;
    height: 50%;
    padding: 10px;

    font-family: "Audiowide", sans-serif;
    color: black;
    background-color: rgb(76, 87, 207);
    width: 100px;
    height: 100px;
    padding-right: 50px;
    padding-left: 50px;

    margin-bottom: 50px;

}


.space_font{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 80%;
    height: 50%;
    padding: 10px;

    font-family: "Audiowide", sans-serif;
    color: black;
    background-color: rgb(114, 122, 219);
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

#start{
    margin: auto;
    width: 50%;
    height: 10%;
    padding: 10px;
    
    font-family: "Audiowide", sans-serif;
    color: white;
    background-color: rgb(143, 41, 227);
    font-size: 20px;
    width: 100px;
    height: 100px;
    padding-right: 100px;
    padding-left: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

#start_button{
    margin: auto;
    width: 50%;
    height: 10%;
    padding: 10px;
    
    font-family: "Audiowide", sans-serif;
    color: white;
    background-color: red;
    font-size: 20px;
    width: 100px;
    height: 100px;
    padding-right: 100px;
    padding-left: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}


.button{
    margin: auto;
    width: 50%;
    height: 10%;
    padding: 10px;

    font-family: "Audiowide", sans-serif;
    color: white;
    background-color: rgb(76, 87, 207);
    font-size: large;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 25%;
    margin-bottom: 20px;
}


.end{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 50%;
    font-size: 30px;

    font-family: "Audiowide", sans-serif;
    color: black;
    background-color: rgb(76, 87, 207);
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;

}


#bad{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    height: 50%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 55%;
    font-size: 30px;

    font-family: "Audiowide", sans-serif;
    color: red;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}












