body{
    background-color: rgb(161, 116, 224);
}


.text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    
}


#h1{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: blueviolet;
    padding-left: 50px;
    padding-right: 50px;

    
    
}

.space_font{
    font-family: "Audiowide", sans-serif;
    color: black;
    background-color: blueviolet;
    padding-left: 50px;
    padding-right: 50px;
}













